/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary Palette */
  --primary: #a73e40;
  --primary-content: #f8ecec;
  --primary-dark: #823032;
  --primary-light: #c15759;

  --secondary: #a7763e;
  --secondary-content: #f8f2ec;
  --secondary-dark: #825c30;
  --secondary-light: #c19057;

  --background: #1e1515;
  --foreground: #2d2020;
  --border: #4b3535;

  --copy: #fcfbfb;
  --copy-light: #dfd2d2;
  --copy-lighter: #b59697;

  --success: #3ea73e;
  --warning: #a7a73e;
  --error: #a73e3e;
  --success-content: #ecf8ec;
  --warning-content: #000000;
  --error-content: #f8ecec;

  /* Extra Colors */
  --white: #ffffff;
  --light-grey: #edf0f1;
  --violet: #655be1;
  --dark-violet: #5146e1;
  --black: #21232a;
}

body {
  background-color: var(--background);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: var(--foreground);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  margin-right: auto;
  text-decoration: none;
  color: var(--primary-content);
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2;
  color: var(--primary-content);
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #825c30;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: var(--primary);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: var(--primary-light);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
